<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

  <title>PtConstruction</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">

 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->

      <img src="Paste-&-Tape-Logo.png" center>

      <br />
      <br />
      
      <%= link_to "Paste & Tape", root_path, :class => "brand" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li>
            <%= link_to "Who We Are", "#" %>
          </li>
          <li>
            <%= link_to "What We Do", "#" %>
          </li>
          <li>
            <%= link_to "Contact Us", "#" %>
          </li>
        </ul>


      </div>
 
    </div>
  </div>
</div>


<%= yield %>

</body>
</html>
